@font-face {
  font-family: "iconfont"; /* Project id 4772736 */
  src: url('//at.alicdn.com/t/c/font_4772736_kx9zxaprre.woff2?t=1733468942368') format('woff2'),
       url('//at.alicdn.com/t/c/font_4772736_kx9zxaprre.woff?t=1733468942368') format('woff'),
       url('//at.alicdn.com/t/c/font_4772736_kx9zxaprre.ttf?t=1733468942368') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-baibaoxiang:before {
  content: "\e6a4";
}

.icon-douyin:before {
  content: "\e8cd";
}

.icon-aafbcf-:before {
  content: "\e608";
}

.icon-gongju:before {
  content: "\e61e";
}

.icon-baibaoxiang1:before {
  content: "\e63a";
}

.icon-drama-masks:before {
  content: "\e612";
}

.icon-yi:before {
  content: "\e690";
}

.icon-douyin1:before {
  content: "\e601";
}

.icon-xiazaishipin:before {
  content: "\e728";
}

.icon-xiazaishipin1:before {
  content: "\e6ae";
}

